[submodule "emergeData"]
	path = emergeData
	url = git@github.com:sofian/emergeData.git
[submodule "influence"]
	path = influence
	url = https://github.com/radarsat1/influence.git
[submodule "libmapper"]
	path = libmapper
	url = https://github.com/radarsat1/libmapper.git
[submodule "webmapper"]
	path = webmapper
	url = git://github.com/radarsat1/webmapper.git
